In [59]:
import numpy as np
df = {'date':['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-06'], 'units_sold':[6519.0, 6654.0, 7332.0, np.nan, 7211.0, 6882.0]}

In [61]:
df

{'date': ['2018-01-01',
  '2018-01-02',
  '2018-01-03',
  '2018-01-04',
  '2018-01-05',
  '2018-01-06'],
 'units_sold': [6519.0, 6654.0, 7332.0, nan, 7211.0, 6882.0]}

In [ ]:
import pandas as pd

df = pd.DataFrame(df)

# Function to impute NaN values with moving average
def impute_with_moving_average(series, window_size):
    result = series.copy()
    for i in range(len(series)):
        if pd.isna(result.iloc[i]):
            # Calculate moving average of previous window_size values
            start_idx = max(0, i - window_size)
            previous_values = result.iloc[start_idx:i].dropna()
            if len(previous_values) > 0:
                result.iloc[i] = round(previous_values.mean(), 1)
    return result

# Apply the function to the units_sold column
df['units_sold'] = impute_with_moving_average(df['units_sold'], window_size)

In [68]:
df

         date  units_sold  new_units
0  2018-01-01      6519.0     6519.0
1  2018-01-02      6654.0     6654.0
2  2018-01-03      7332.0     7332.0
3  2018-01-04      6835.0     7106.0
4  2018-01-05      7211.0     7211.0
5  2018-01-06      6882.0     6882.0